{% extends "base.html" %} {% block title %}Write{% endblock %} 

{% block content %} 
    <!-- form -->
    <div class="container">
        <div class="container">
            <form action="/" method="POST" class="form mt-5 p-4">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" name="title"> <br>
        <label for="data">Content</label>
         <textarea name="data" id="data" type="text" class="form-control"></textarea>
         <div class="text-center my-2">
             <button type="submit" class="btn btn-primary text-center">Add</button>
            </div>
        </form>
    </div>
</div>
<!-- form -->

   <!-- footer -->
   <footer class="py-4">
       <div class="container">
           <div class="row">
            <div class="col-md-6">
                <p class="mb-0">Copyright © 2015-2020. Made and Designed By Jonathan</p>
            </div>
            <div class="col-md-6 text-md-end">
                <div>
                    <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-dribbble'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->
{% endblock %}
